<div class="article-list--compact links">
    {{ range $i, $site := .Params.sites }}
        <article>
            <a href="{{ $site.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $site.title -}}
                    </h2>
                    <footer class="article-time">
                        {{ with $site.description }}
                            {{ . }}
                        {{ else }}
                            {{ $site.website }}
                        {{ end }}
                    </footer>
                </div>
        
                {{ with $site.image }}
                    {{ $permalink := . }}
                    {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
                        {{ $permalink = .RelPermalink }}
                    {{ end }}
                    <div class="article-image">
                        <img src="{{ $permalink }}" loading="lazy">
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>